.tabs {
    height: 53px;
    display: flex;
    border-bottom: 1px solid rgb(47, 51, 54);
}

.btn {
    width: 50%;
    padding: 0 16px;
    flex-grow: 1;
    border: none;
    outline: none;
    background-color: var(--color-bg-primary);
    cursor: pointer;
}

.btn:hover {
    background-color: #181818;
}

.block {
    display: inline-flex;
    padding: 16px 0;
    position: relative;
    line-height: 20px;
    font-weight: 500;
    font-size: 15px;
    color: #71767b;
    span {
        transition: none !important;
    }
}

.line {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: rgb(29, 155, 240);
    border-radius: 4px;
}

.active span {
    color: var(--color-text-primary);
    transition: none !important;
    font-weight: 700;
    transform: scaleX(0.9);
}

.active .line {
    display: block;
    transition: none !important;
}
