.flex {
    display: flex;
    flex-direction: column;
}

.logoBlock {
    height: 52px;
    width: 52px;
    border-radius: 100%;
    margin: 2px 0;
}

.logoBlock:hover {
    background-color: #181818;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 11px;
    svg {
        fill: currentcolor;
    }
}

.navFlex {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
    overflow-y: auto;
}

.navBlock {
    width: 100%;
    cursor: pointer;
}

.navSpan {
    padding: 12px;
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-text-primary);
    border-radius: 30px;
}

.navBlock:hover .navSpan {
    background-color: #181818;
}

.navText {
    margin: 0 16px 0 20px;
}

.post {
    margin: 8px 0;
    width: 90%;
}

.post:hover {
    opacity: 0.9;
}

.link {
    display: flex;
    min-height: 52px;
    padding: 0 32px;
    background-color: var(--color-text-primary);
    color: rgba(0, 0, 0, 1);
    border-radius: 30px;
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
}

.postBlock {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}
