.label {
    position: relative;
    display: block;
    border-radius: 4px;
    border: 1px solid rgb(51, 54, 57);
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.placeholder {
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px 8px 0 8px;
    color: rgb(113, 118, 123);
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1),
        font-size 150ms cubic-bezier(0.4, 0, 0.2, 1),
        padding-top 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.placeholder.active {
    font-size: small;
    line-height: 16px;
    padding-top: 8px;
}

.input {
    margin-top: 16px;
    padding: 12px 8px 8px 8px;
    background-color: transparent;
    input {
        width: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        color: var(--color-text-primary);
        font-size: 17px;
        font-weight: 400;
        line-height: 20px;
    }
}

.label:focus-within {
    border-color: var(--color-brand);
    box-shadow: 0px 0px 0px 1px var(--color-brand);
}

.label:focus-within .placeholder {
    font-size: small;
    line-height: 16px;
    color: var(--color-brand);
    padding-top: 8px;
}


