.search {
    padding: 0 1px;
    width: 100%;
    height: 44px;
    border: 1px solid rgb(47, 51, 54);
    border-radius: 44px;
    display: flex;
    align-items: center;
    transition: none;
}

.search:focus-within {
    border: 2px solid rgb(29, 155, 240);
}

.searchIcon {
    display: flex;
    align-items: center;
    padding-left: 12px;
    svg {
        fill: rgb(113, 118, 123);
    }
}

.input {
    width: 100%;
    padding: 0 16px 0 4px;
    font-size: 14px;
    line-height: 16px;
    background-color: var(--color-bg-primary);
    border: none;
    outline: none;
    color: var(--color-text-primary);
    caret-color: rgb(29, 155, 240);
}

.closeBtnIcon {
    display: flex;
    align-items: center;
}

.closeBtn {
    background-color: var(--color-bg-primary);
    border: none;
    outline: none;
    margin-right: 12px;
    svg {
        fill: #eff3f4;
    }
}
