:root {
    --color-bg-primary: #000000;
    --color-bg-secondary: #1e2732;
    --color-brand: #1d9bf0;
    --color-text-primary: #f8f9f9;
    --color-text-secondary: #8b98a5;
    --color-button-text: #f7f9f9;
    --color-border: #39444d;
    --transition: all ease-in 0.2s;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    scrollbar-color: rgb(62, 65, 68) rgb(22, 24, 28);
    -webkit-font-smoothing: antialiased;
    font-smooth: always;
}

img {
    pointer-events: none;
}
