.grid {
    display: grid;
    grid-template-columns: auto 275px 600px 350px auto;
    grid-template-areas: '. sidebarLeft main sidebarRight .';
}

.sidebarLeft {
    grid-area: sidebarLeft;
}

.main {
    grid-area: main;
    border-left: 1px solid rgb(47, 51, 54);
    border-right: 1px solid rgb(47, 51, 54);
}

.sidebarRight {
    grid-area: sidebarRight;
}
