.grid {
    display: grid;
    grid-template-columns: auto 275px 600px 230px auto;
    grid-template-areas: '. sidebarLeft main sidebarRight .';
}

.sidebarLeft {
    grid-area: sidebarLeft;
}

.main {
    grid-area: main;
}

.sidebarRight {
    grid-area: sidebarRight;
}
