.flex {
    display: flex;
    flex-direction: column;
}

.navFlex {
    display: flex;
    flex-direction: column;
}

.navBlock {
    padding: 12px;
    display: flex;
}

.navText {
    margin: 0 20px 0 16px;
}
