.flex {
    display: flex;
    flex-direction: column;
}

.logo {
    padding: 16px 12px;
}

.navFlex {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
    overflow-y: auto;
}

.navBlock {
    width: 100%;
    cursor: pointer;
}

.navSpan {
    padding: 12px;
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: var(--color-text-primary);
    border-radius: 20px;
    transition: 0.2s ease;
}

.navBlock:hover .navSpan {
    background-color: #181818;
}

.navText {
    margin: 0 20px 0 16px;
}
