.follow {
    border-radius: 16px;
    border: 1px solid var(--color-border);
}

.section {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    align-items: start;
    padding: 12px 16px;
}

.list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.item {
    padding: 12px 16px;
    cursor: pointer;
}

.item:hover {
    background-color: rgba(255, 255, 255, 0.03);
}

.flex {
    display: flex;
}

.block {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img {
    margin-right: 8px;
}

.profileName {
    display: flex;
    flex-direction: column;
}

.nick {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
}

.nick span:hover {
    text-decoration: underline;
}

.nickname {
    color: rgb(113, 118, 123);
}

.link {
    padding: 16px;
    color: var(--color-brand);
    line-height: 20px;
    font-weight: 400;
    text-decoration: none;
}

.link:hover {
    background-color: rgba(255, 255, 255, 0.03);
}
