.main {
    min-height: 100vh;
    display: flex;
    flex-grow: 1;
}

.flex {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.wrapper {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}

.logo {
    min-height: 45vh;
    flex-grow: 1;
    position: relative;
}

.logoBlock {
    display: flex;
    justify-content: center;
    padding: 32px;
    max-height: 380px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.loginWrapper {
    height: 100%;
    min-width: 45vw;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginBlock {
    max-width: 760px;
    min-width: 437px;
    padding: 20px;
}

.loginTitle {
    margin: 48px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: -1.2px;
}

.loginSubtitle {
    margin-bottom: 32px;
    font-size: 31px;
    font-weight: 700;
    line-height: 36px;
}

.loginButton {
    max-width: 380px;
    width: 300px;
}



.createButton {
    margin-bottom: 16px;
}

.create {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
}

.nav {
    padding: 12px 16px;
    display: flex;
    justify-content: center;
}

.signIn {
    margin-top: 40px;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 90px;
}

.signInTitle {
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 20px;
}
