.wrapper {
    display: flex;
    justify-content: space-between;
}

.mainSection {
    width: 600px;
    height: 100vh;
    border-left: 1px solid rgb(47, 51, 54);
    border-right: 1px solid rgb(47, 51, 54);
}

.aside {
    margin-top: 10px;
    width: 350px;
    margin-right: 70px;
}
